Thumbs.db
*.suo
.DS_Store
*.egg-info
.sass-cache
*.swo
*.swp
*.svn-base
.svn
*.pyc
distribute-*
tmp

bin/
obj/
builds/
current_build_bin/
TestNsis*.*
Uninstaller.exe
*.user
.metadata/
.classpath
.project
.settings/
